<!-- ================================================== -->
<!--  Home template. -->
<!-- ================================================== -->

<template>
  <div>
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px;">
      <div class="w3-display-left w3-container">Budgets</div>
    </div>

    <div>
      <ul class="w3-ul w3-card">
        <li v-for="budget in sortedBudgets" :key="budget.id" class="bar-height w3-display-container">
          <div class="w3-display-left">
            <div class="w3-panel">{{budget.name}}</div>
          </div>
          <div class="w3-display-right">
            <button :disabled="syncing" @click="openBudget(budget.id)" class="w3-theme w3-button w3-card w3-margin-right">Open</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<!-- ================================================== -->
<!--  Home script. -->
<!-- ================================================== -->

<script>
  import { Subscription } from 'rxjs/Subscription'
  import { Budget as budget } from '@/services/data/budget'

  let Budget = budget()
  let _subscriptions

  export default {
    name: 'fm-home',
    data () {
      return {
        budgets: []
      }
    },
    computed: {
      sortedBudgets: function () {
        return this.budgets.sort(function (a, b) {
          var textA = a.name.toUpperCase()
          var textB = b.name.toUpperCase()
          return (textA < textB) ? -1 : (textA > textB) ? 1 : 0
        })
      }
    },
    mounted: function () {
      _subscriptions = new Subscription()

      _subscriptions.add(this.$db.$pouchChanged.subscribe((change) => {
        if (Budget.contains(change.id)) {
          for (let i = 0; i < this.budgets.length; i++) {
            if (this.budgets[i]._id === change.id) {
              if (change.deleted) {
                this.budgets.splice(i, 1)
              } else {
                this.budgets[i].data = change.doc
              }
              return
            }
          }

          if (!change.deleted) {
            // Couldn't find it
            const b = new Budget(change.doc)
            b.subscribe(this.$db.budgets.put)

            this.budgets.push(b)
          }
        }
      }))

      _subscriptions.add(this.$db.$dataDestroyed.subscribe((value) => {
        this.budgets = []
      }))

      this.$db.budgets.all().then((budgets) => {
        this.budgets = budgets
      })
    },
    methods: {
      openBudget (budgetId) {
        this.$current.loadBudget(budgetId, this.$db).then((budget) => {
          this.$current.budget = budget
          this.$router.push('/' + budgetId + '/accounts')
        })
      }
    },
    subscriptions () {
      return {
        syncing: this.$db.$syncChanged.asObservable()
      }
    },
    beforeDestroy: function () {
      _subscriptions.unsubscribe()
    }
  }
</script>

<!-- ================================================== -->
<!--  Home CSS. -->
<!-- ================================================== -->

<style scoped>

</style>
