<!-- ================================================== -->
<!--  Login template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <div class="w3-margin">
      <label class="w3-tiny">Email</label>
      <input class="w3-input w3-border w3-small" autocapitalize="none" v-model="email" type="text">
    </div>

    <div class="w3-margin">
      <label class="w3-tiny">Password</label>
      <input class="w3-input w3-border w3-small" autocapitalize="none" v-model="password" v-on:keyup.enter="login" type="password">
    </div>

    <div class="w3-margin">
      <button class="w3-button w3-block w3-small w3-theme w3-card-2" :disabled="loggingIn" @click="login">
        <div class="w3-display-container">
          <span v-if="!loggingIn">Login</span>
          <div v-if="loggingIn">
            <div v-if="loggingIn && themeDark" class="button-spinner-dark"></div>
            <div v-if="loggingIn && themeLight" class="button-spinner-light"></div>
            <span>Logging In...</span>
          </div>
        </div>
      </button>
    </div>

    <div v-if="loginError" class="w3-small w3-text-red fade-out">
      <center>Incorrect Username or Password</center>
    </div>
    
  </div>
</template>

<!-- ================================================== -->
<!--  Login script. -->
<!-- ================================================== -->

<script>
  import { Subscription } from 'rxjs/Subscription'

  let _subscriptions

  export default {
    name: 'fm-login',
    data () {
      return {
        email: '',
        password: '',
        loginError: false,
        themeDark: true,
        themeLight: false
      }
    },
    methods: {
      login: function () {
        this.loginError = false
        this.$auth.login(this.email, this.password).then((ok) => {
          if (!ok) {
            this.loginError = true
          }
        })
      }
    },
    subscriptions () {
      return {
        loggingIn: this.$auth.$loginStatus.asObservable()
      }
    },
    mounted: function () {
      _subscriptions = new Subscription()

      _subscriptions.add(this.$theme.$themeChanged.subscribe((theme) => {
        if (
          theme === 'light-blue' ||
          theme === 'lime' ||
          theme === 'khaki' ||
          theme === 'yellow' ||
          theme === 'amber' ||
          theme === 'orange'
        ) {
          this.themeDark = false
          this.themeLight = true
        } else {
          this.themeDark = true
          this.themeLight = false
        }
      }))
    },
    beforeDestroy: function () {
      _subscriptions.unsubscribe()
    }
  }
</script>

<!-- ================================================== -->
<!--  Login CSS. -->
<!-- ================================================== -->

<style scoped>
  button {
    height: 36px;
  }

  .button-spinner-dark {
    border: 3px solid transparent;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    animation: spin 0.5s linear infinite;
  }

  .button-spinner-light {
    border: 3px solid transparent;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
</style>
