<!-- ================================================== -->
<!--  Settings template. -->
<!-- ================================================== -->

<template>
  <div>
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px;">
      <div class="w3-display-left w3-container">Settings</div>
    </div>

    <div class="w3-container w3-panel">
      <router-link to="/settings/theme" class="w3-button w3-theme w3-card w3-block w3-margin-bottom">Color Theme</router-link>
      <!-- <router-link to="-1" class="w3-button w3-theme w3-card w3-block">Back</router-link> -->
    </div>

  </div>

</template>

<!-- ================================================== -->
<!--  Settings script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-settings',
    methods: {
      showColors () {
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Settings CSS. -->
<!-- ================================================== -->

<style scoped>

</style>